.cb-active {
    background-color: skyblue;
}

h2 {
    text-align: center
}

.custom {
    width: 60px !important;
    font-family: monospace;
}

.customABC {
    font-family: monospace;
    font-size: 250%;
    width: 60px !important;
}

.divSpace {
    margin-top: 30px;
    margin-bottom: 30px
}

.divNumberErro {
    border-style: solid;
    border-color: red;
}

.inputDice {
    text-align: center;
    font-size: 850%;
    width: 150px
}

.myGrid {
    width: 500px;
    height: 250px;
}

div.span4,
div.span8 {
    background-color: #eee;
    border: 1px solid #888;
    border-radius: 3px;
    margin: -1px;
}

button {
    border: 2px solid #888;
    border-radius: 3px;
    margin: 5px;
}